@import "tailwindcss";


@theme inline {
  
}

@media (prefers-color-scheme: dark) {
  
}

@layer base {
  html {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 py-5;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
}

